<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Wikipedia Test Suite">
    <parameter name="driverPath" value="path/to/chromedriver" />
    <parameter name="baseURL" value="https://www.wikipedia.org/" />
    <parameter name="searchQuery" value="java" />

    <test name="Home Page Tests">
        <classes>
            <class name="tests.TestHomePage"/>
        </classes>
    </test>

    <test name="Search Result Page Tests">
        <classes>
            <class name="tests.TestSearchResultPage"/>
        </classes>
    </test>
</suite>